{% extends 'main/base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}
	<table class="table">
		<thead>
	  		<tr>
				<th scope="col">Tanggal</th>
				<th scope="col">{{ls.date}}</th>
	  		</tr>
		</thead>
		<tbody>
		  	<tr>
				<th scope="row">Max</th>
				<td>{{ls.max}}</td>
		  	</tr>
		  	<tr>
				<th scope="row">Min</th>
				<td>{{ls.min}}</td>
		  	</tr>
		  	<tr>
				<th scope="row">Perbedaan</th>
				<td>{{ls.diff}}</td>
		  	</tr>
		</tbody>
  	</table>

{% endblock %}